@import "reset.css";

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body{
	font-family: "Lato";
	color: #000;
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}

[class*="__container"]{
	max-width: 1260px;
	margin: 0 auto;
	padding: 0px 15px;
}
/*----------------------------------------------------------*/

.page__about-us {
}
.page__main {
}
.page__courses {
}

/*----------------------------------------------------------*/

.button {
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	padding: 13px 39px;
	transition: all 0.3s ease 0s;
	border: 1px solid transparent;
}
.button:hover{
	color: #FF3F3A;
	background: transparent;
	border: 1px solid #FF3F3A;
}

.button_border {
	color: #FF3F3A;
	border: 1px solid #FF3F3A;
	background: transparent;
	transition: all 0.3s ease 0s;
}
.button_border:hover {
	color: #FFFFFF;
	border: 1px solid transparent;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.title {
}
.title__subtitle {
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
}
.title__subtitle:not(:last-child){
	margin-bottom: 8px;
}
.title__text {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
}
/*----------------------------------------------------------*/

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
/* .header::before{
	content: "";
	position: absolute;
	height: 92px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(255, 64, 58, 0.4);
} */
.header__container {
	position: relative;
	display: flex;
	gap: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
}
.header__logo {

}
.header__menu {
	flex: 1 1 auto;
}
.header__actions {
	flex: 0 0 auto;
}

.menu {
}

.header__list {
	display: flex;
	align-items: center;
	column-gap: 40px;
	row-gap: 5px;
	flex-wrap: wrap;
}
.header__item {
}
.header__link {
	font-weight: 700;
	line-height: 160%;
	align-items: center;
	color: #424551;
	transition: color 0.3s ease 0s;
}
.header__link:hover{
	color: #FF3F3A;
}

.actions-header {
	display: flex;
	gap: 36px;
	align-items: center;
}
.actions-header__button {
}
.actions-header__link {
	position: relative;
	font-weight: 700;
	line-height: 160%;
	color: #424551;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: all 0.3s ease 0s;
}
.actions-header__link::before {
	content: "";
	width: 17px;
	height: 18px;
	background: url('../img/icons/person.svg') 0 0 no-repeat;
	transition: all 0.3s ease 0s;
}

.actions-header__link:hover::before{
		opacity: 0.8;
}

.actions-header__link:hover span{
	color: #424551;
	opacity: 0.8;
}

/*----------------------------------------------------------*/


.main-block {
	position: relative;
	background: linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}
.main-block__container {
	padding-top: 200px;
	padding-bottom: 80px;
	position: relative;
	z-index: 2;
}
.main-block__top-part {
	margin-bottom: 189px;
}
.main-block__bottom-part {
}

.content-main {
	display: flex;
}
.content-main__left-col {
	flex: 0 1 50%;
	align-self: center;
	padding-right: 20px;
}
.content-main__right-col {
	flex: 0 1 50%;
}
.content-main__right-col img{
	max-width: 100%;
	transform: translate(49px,0px);
}
.content-main__play {
	display: flex;
	align-items: center;
	gap: 16px;
	font-weight: 700;
	font-size: 14px;
	line-height: 150%;
	color: #1E212C;
	position: relative;
}
.content-main__play:hover::after{
	animation-play-state: paused;
}
.content-main__play::before{
	content: "";
	flex: 0 0 52px;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #FF3F3A url("../img/icons/play.svg") center center no-repeat;
}
.content-main__play::after{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 52px;
	height: 52px;
	border-radius: 50%;
	background: #FF3F3A;
	opacity: 0.12;
	animation:play 1.5s infinite linear;
}
@keyframes play {
	0% {
		
	}
	100% {
		transform: scale(2);
		opacity: 0;
	}
}
.content-main__play:not(:last-child){
	margin-bottom: 24px;
}
.content-main__title {
	max-width: 500px;
	font-weight: 900;
	font-size: 64px;
	line-height: 130%;
	letter-spacing: 1px;
	color: #1E212C;
}
.content-main__title:not(:last-child){
	margin-bottom: 60px;
}
.content-main__buttons {
	display: flex;
	gap: 24px;
}
.content-main__button {
}
.footer-main {
	display: flex;
	align-items: center;
	gap: 20px;
	justify-content: space-between;
}
.footer-main__item {
	display: flex;
	align-items: center;
	gap: 12px;
	position: relative;
}
.footer-main__circle{
	flex: 0 0 8px;
	width: 8px;
	height: 8px;
	background: #FF3F3A;
	border-radius: 50%;
}
.footer-main__value {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
}
.footer-main__text {
	line-height: 160%;
	color: #1E212C;
}

.main-block__decor {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.main-block__item {
	position: absolute;
}
.main-block__item_1{
	width: 96px;
	height: 96px;
	top: 12.3%;
	left: 4.27%;
	background: url('../img/decor/shapes.svg') 0 0 no-repeat;
}
.main-block__item_2{
	width:88px;
	height: 47px;
	top: 45.09%;
	left: 40.73%;
	background: url('../img/decor/shapes-2.svg') 0 0 no-repeat;
}
.main-block__item_3{
	width:61px;
	height: 61px;
	bottom: 24.16%;
	left: 38.17%;
	background: url('../img/decor/vector.svg') 0 0 no-repeat;
}
.main-block__item_4{
	width: 284px;
	height: 284px;
	bottom: -9.26%;
	left: -5.83%;
	background: url('../img/decor/circles.svg') 0 0 no-repeat;
}
.main-block__item_5{
	width: 110px;
	height: 110px;
	top: -2.5%;
	right: 6.81%;
	background: url('../img/decor/shapes.svg') 0 0 no-repeat;
	transform: rotate(135deg);
}
.main-block__item_6{
	width: 187px;
	height: 137px;
	bottom: 17.96%;
	right: -2.77%;
	background: url('../img/decor/dots.svg') 0 0 no-repeat;
}

/* ----------------------------------------- */

.about-us {
	position: relative;
}
.about-us__container {
	padding-top: 180px;
	padding-bottom: 90px;
	display: flex;
	align-items: center;
	position: relative;
	z-index: 2;
}
.about-us__image {
	flex: 1 1 auto;
	padding-right: 20px;
}
.about-us__image img{
	max-width: 100%;
	border-radius: 4px;
}

.about-us__content {
	flex: 0 1 390px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
}
.about-us__title {
}
.about-us__title:not(:last-child){
	margin-bottom: 40px;
}
.about-us__list {
}
.about-us__list:not(:last-child){
	margin-bottom: 22px;
}
.about-us__item {
	line-height: 160%;
	color: #424551;
	display: flex;
	position: relative;
	padding-left: 32px;
}
.about-us__item::before{
	content: "";
	width: 16px;
	flex: 0 0 16px;
	height: 16px;
	background: url("../img/icons/check.svg") 0 0 no-repeat;
	position: absolute;
	top: 5px;
	left: 0;

}
.about-us__item:not(:last-child){
	margin-bottom: 12px;
}
.about-us__button {
}

.about-us__decor {
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
}
.about-us__item-decor {
	position: absolute;
}
.about-us__item-decor_1 {
	height: 132px;
	width: 182px;
	background: url('../img/decor/dots-2.svg') 0 0 no-repeat;
	transform: rotate(-52.46deg);
	top: 285px;
	left: -4.9%;
}
.about-us__item-decor_2 {
	height: 287px;
	width: 287px;
	background: url('../img/decor/circles-2.svg') 0 0 no-repeat;
	top: 437px;
	right: -8.59%;
}

/* ----------------------------------------- */


.courses {
}
.courses__container {
	padding-top: 90px;
	padding-bottom: 90px;
}
.courses__haeder {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 20px;
}
.courses__haeder:not(:last-child){
	margin-bottom: 60px;
}
.courses__title {
}

.courses__button {
}

.courses__items {
	display: flex;
	flex-wrap: wrap;
	row-gap: 30px;
	margin: 0px -15px;
}

.item-courses {
	flex: 0 1 50%;
	padding: 0px 15px;
}
.item-courses__content{
	min-height: 100%;
	border: 1px solid #E5E8ED;
	box-shadow: 0px 80px 80px -20px rgba(154, 156, 165, 0.08), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 4px 4px -4px rgba(30, 33, 44, 0.03);
	border-radius: 4px;
	display: flex;
}
.item-courses__image {
	flex: 0 0 35.666%;
	overflow: hidden;
}
.item-courses__image img{
	/* max-width: 100%; */
	transition: transform 0.4s ease 0s;
	border-radius: 4px 0px 0px 4px;

}
.item-courses__image:hover img{
	transform: scale(1.05);
}
.item-courses__body {
	flex: 1 1 auto;
	padding: 32px;
	display: inline-flex;
	flex-direction: column;
	align-items: flex-start;
	row-gap: 20px;
}
.item-courses__category {
	font-weight: 400;
	font-size: 14px;
	line-height: 150%;
	color: #FFFFFF;
	background-color: #03CEA4;
	border-radius: 4px;
	padding: 0px 8px;
	transition: background-color 0.3s ease 0s;
}
.item-courses__category:hover{
	background-color: #1cb697;
}

.item-courses__title {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	transition: color 0.3s ease 0s;
}
.item-courses__title:hover{
	text-decoration: underline;
	color: #393e50;
}
.item-courses__link {
}
.item-courses__info {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.item-courses__price {
	font-weight: 700;
	font-size: 18px;
	line-height: 150%;
	color: #FF4242;
	display: flex;
	align-items: center;
}
.item-courses__price::after{
	content: "";
	width: 1px;
	height: 16px;
	background-color: #787A80;
	margin-left: 8px;
	margin-right: 8px;
}
.item-courses__author {
	font-size: 18px;
	line-height: 150%;
	color: #787A80;
}