@import "reset.css";

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body{
	font-family: "Lato";
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;
	background: #b7c656 url('') 0 0 no-repeat scroll;
}

[class*="__container"]{
	max-width: 1000px;
	margin: 0 auto;
}
/*----------------------------------------------------------*/

.main{
	padding: 30px 0px;
}
.header__container{
	display: flex;
	justify-content:center;
	align-items: center;
	text-align: center;
	padding: 50px 0px;
	font-size: 40px;
	font-weight: 500;
	letter-spacing: 3px;
}
.header__container span{
	color: #e65824;
}

.header__container .one{
	animation:top 0.2s 1 ease 0.5s;
}
.header__container .two{
	animation:top 0.2s 1 ease  0.7s;
}
.header__container .three{
	animation:top 0.2s 1 ease  0.9s;
}
.header__container .four{
	animation:top 0.2s 1 ease  1.1s;
}
.header__container .five{
	animation:top 0.2s 1 ease  1.3s;
}
.header__container .six{
	animation:top 0.2s 1 ease  1.5s;
}
.header__container .seven{
	animation:top 0.2s 1 ease  1.7s;
}
.header__container .eight{
	animation:top 0.2s 1 ease  1.9s;
}
.header__container .white{
	color: transparent;
}
@keyframes top {
	0% {
		transform: translate(0px,0px);
	}
	100% {
		transform: translate(0px,-20px);

	}
}
/*----------------------------------------------------------*/

.block:not(:last-child){
	margin-bottom: 30px
}
.flex-box{
	display: flex;
	gap: 10px;
	}
.flex-elem{
	flex: 1;
	height: 500px;
	overflow: hidden;
	cursor: pointer;
	border-radius: 10px;
	box-shadow: 0px 0px 10px 1px rgb(197, 196, 196);
	transition: flex 0.5s ease 0s;

}
.flex-elem:hover{
	border: 1px solid rgb(141, 140, 140);
	flex: 10;
}
.flex-elem img{
	height: 100%;
	width: 100%;
	object-fit: cover;
}
/*----------------------------------------------------------*/

.new-block {
}
.new-block__container {
}
.new-block__poligon {
	display: flex;
	justify-content:center;
	gap: 15px;
	padding: 10px;
	height: 400px;
}
.new-block__element {
	position: relative;
	flex: 0 1 150px;
	height: 100%;
	transition: all 1s ease 0s;
	border-radius: 10px;
	overflow: hidden;
	box-shadow: 0px 0px 15px 1px rgb(197, 196, 196);
}
.new-block__element::before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.1);
}

.new-block__element:hover{
	flex: 1 1 100%;
}
.new-block__element:hover::before{
	background-color: rgba(255, 255, 255, 0);
}
.new-block__element img{
	width: 100%;
	height: 100%;
	object-fit: cover;
}
