@import "reset.css";

@import url("https://fonts.googleapis.com/css?family=Montserrat:regular,600,700@display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:regular,500@display=swap");

body{
	font-family: "Montserrat";
	color: #fff;
}
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
	background: #222831;
}
.wrapper > main{
	flex-grow: 1;
}

[class*="__container"]{
	max-width: 1270px;
	margin: 0 auto;
	padding: 0px 15px;
}
/*----------------------------------------------------------*/
.page{
	background: url('../img/main-block/image.jpg') 0 0 / contain no-repeat;
}
.page__main-block {
}
.page__form {
}
.page__gallery {
}
.page__download {
}
/* ---------------------------------- */
.title-footer {
	font-weight: 700;
	line-height: 1.25;
	letter-spacing: 0.05em;
}
.list-footer {
}
.list-footer__item {
}
.list-footer__item:not(:last-child){
	margin-bottom: 10px;
}
.list-footer__link {
	font-size: 14px;
	line-height: 1.21;
	letter-spacing: 0.05em;
}
@media (any-hover: hover){
	.list-footer__link:hover {
		text-decoration: underline;
	}
}
/* --------------------------------- */

.header {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
.header__container {
	padding-top: 10px;
	padding-bottom: 10px;
	min-height: 130px;
	display: flex;
	align-items: center;
	column-gap: 15px;
	row-gap: 10px;
	justify-content: space-between;
}
.header__logo {
	flex: 0 0 auto;
}
.header__menu {
}
.menu {
}
.menu__list {
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	column-gap: 38px;
	row-gap: 5px;
	font-size: 18px;
	line-height: 1.222;
}
.menu__item {
}
.menu__link {
	transition: font-weight 0.3s ease 0s;
}
.menu__link:hover{
	font-weight: 700;
}
.header__button {
	flex: 0 0 auto;
	text-align: center;
	background-color: #1F4AA8;
	border-radius: 39px;
	font-weight: 700;
	font-size: 14px;
	line-height: 1.21;
	padding: 16.5px 50.5px;
	text-align: center;
	transition: background-color 0.3s ease 0s;
}
.header__button:hover{
	background-color:#133B5C;
}

@media (max-width: 991.98px){	
	.menu__list {
		column-gap: 20px;
	}
}
@media (max-width: 767.98px){
	.header__container {
		flex-direction: column;
	}
	.menu__list {
		column-gap: 30px;
		justify-content: center;
	}
	.menu__link {
		display: inline-block;
		padding: 5px 0px;
	}
}



/* --------------------------------- */

.main-block {
	padding-top: 207px;
	padding-bottom: 50px;
}
.main-block__container {
	display: flex;
	flex-direction: column;
	align-items: center;
}
.main-block__title {
	text-align: center;
	max-width: 750px;
	font-weight: 700;
	font-size: 72px;
	line-height: 1.22;
}
.main-block__title:not(:last-child){
	margin-bottom: 35px;
}
.main-block__text {
	text-align: center;
	max-width: 780px;
	font-weight: 600;
	font-size: 18px;
	line-height: 1.22;
	letter-spacing: 0.055em;
}

@media (max-width: 991.98px){	
	.main-block__title {
		font-size: 48px;
	}
	.main-block__text {
		max-width: 600px;
	}
	.main-block{
		padding-bottom: 40px;
	}
}
@media (max-width: 767.98px){
	.main-block__title {
		font-size: 44px;
		max-width: 550px;
	}
	.main-block__text {
		max-width: 450px;
		font-size: 16px;
	}
	.main-block{
		padding-top: 220px;
		padding-bottom: 30px;
	}
}
@media (max-width: 497.98px){
	.main-block__title {
		font-size: 38px;
		max-width: 400px;
	}
	.main-block__text {
		max-width: 350px;
		font-size: 14px;
	}
	.main-block{
		padding-top: 240px;
	}
}

/* -------------------------------- */




.form {
	padding-top: 40px;
	padding-bottom: 50px;
}
.form__container {
}
.form__search {
	background: #FFFFFF;
	border-radius: 30px;
	padding: 21px 43px 24px 43px;
	display: flex;
	flex-direction: column;
}

.search-form {
}
.search-form__header {
}

.search-form__header:not(:last-child){
	margin-bottom: 40px;
}
.search-form__setting {
}
.search-form__setting:not(:last-child){
	margin-bottom: 17px;
}
.search-form__route {
}
.search-form__route:not(:last-child){
	margin-bottom: 18px;
}
.search-form__button {
	background: #1F4AA8;
	border-radius: 39px;
	font-weight: 700;
	line-height: 1.25;
	padding: 20px 88px;
	text-align: center;
	transition: background-color 0.3s ease 0s;
	align-self: center;
}
.search-form__button:hover{
	background-color:#133B5C;
}


.header-search-form {
	font-weight: 600;
	line-height: 1.25;
	color: #888AA2;
	display: flex;
	flex-wrap: wrap;
	column-gap: 50px;
	row-gap: 20px;
	align-items: center;
	position: relative;
}
.header-search-form::before{
	content: "";
	width: 100%;
	height: 1px;
	position: absolute;
	left: 0;
	bottom: -10px;
	background: linear-gradient(90deg, rgba(0, 0, 0, 0.68) 0%, rgba(0, 0, 0, 0) 100%);
}
.header-search-form__kind {
}
.active {
	color: #1F4AA8;
	position: relative;
}
.active:before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -11px;
	width: 100%;
	height: 3px;
	background-color: #1F4AA8;
}

.search-form__setting:not(:last-child){
	margin-bottom: 17px;
}


.settings-search-form {
	display: flex;
	gap: 20px;
	flex-wrap: wrap;
	align-items: center;
	justify-content: space-between;
}

.settings-search-form__type {
	display: flex;
	column-gap: 60px;
	row-gap: 20px;
	align-items: center;
}

.settings-search-form__radio {
	display: flex;
	align-items: center;
	gap: 15px;
	position: relative;
}
.settings-search-form__input {
	width: 24px;
	flex: 0 0 24px;
	height: 24px;
}
.settings-form__input_radio {
}
.settings-search-form__label {
	line-height: 1.25;
	color: #000000;
}
.settings-search-form__label::before{
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	border-radius: 50%;
	border: 3px solid #1F4AA8;

}
.settings-search-form__input_radio {
}
.settings-search-form__add {
	display: flex;
	align-items: center;
	column-gap: 24px;
	row-gap: 15px;
}
.settings-search-form__col {
}
.settings-search-form__select-traveler {
	background-color: transparent;
	font-size: 14px;
	line-height: 1.21;
	color: #1F4AA8;
}
.settings-search-form__option {

}
.settings-search-form__select-ticket {
	background-color: transparent;
	font-size: 14px;
	line-height: 1.21;
	color: #1F4AA8;
}


.route-search-form {
	display: flex;
	align-items: center;
	gap: 8px;
}
.route-search-form__column {
	flex: 0 1 363px;
	position: relative;
}
.route-search-form__column .from{
	position: absolute;
	top: 50%;
	left: 15px;
	width: 35px;
	height: 29px;
	background: url('../img/icons/fly-from.svg') center no-repeat;
	transform: translate(0px,-50%);
}
.route-search-form__column .to{
	position: absolute;
	top: 50%;
	left: 15px;
	width: 35px;
	height: 29px;
	background: url('../img/icons/fly-to.svg') center no-repeat;
	transform: translate(0px,-50%);
}
.route-search-form__column_date{
	flex: 0 1 174px;
}
.route-search-form__swap {
	flex: 0 0 37px;
	width: 37px;
	height: 37px;
	border: 1px solid #000000;
	border-radius: 50%;
	background: url('../img/icons/swap.svg') center no-repeat;
}
.route-input{
	border: 0.5px solid #000000;
	border-radius: 10px;
	height: 48px;
}
.route-search-form__input-from {
	padding: 0px 15px 0px 72px;

}

.route-search-form__input-to {
	padding: 0px 15px 0px 72px;

}
.route-search-form__input-date-depart {
	flex-direction: row-reverse;
	padding: 0px 15px;
	gap: 7px;
}
.route-search-form__input-date-return {
	flex-direction: row-reverse;
	padding: 0px 15px;
	gap: 7px;
}

@media (max-width: 991.98px){
	.form__search {
		padding: 15px 30px 15px 30px;
	}
	.header-search-form {
		column-gap: 40px;
	}
	.settings-search-form__type {
		column-gap: 40px;
	}
	.route-search-form{
		flex-wrap: wrap;
		justify-content: center;
	}
	.route-search-form__column{
		flex: 1 1 auto;
	}
	.route-search-form__column_date{
		flex: 1 1 auto;
		min-width: 250px;
		max-width: 350px;
	}
}

@media (max-width: 767.98px){
	.form__search {
		padding: 15px 20px 15px 20px;
	}
	.header-search-form {
		column-gap: 30px;
	}
	.settings-search-form__type {
		column-gap: 20px;
	}
	.route-search-form{
		flex-direction: column;
	}
	.route-search-form__swap{
		transform: rotate(90deg);
	}
	.route-search-form__column{
		width: 80%;
	}
	.route-search-form__column_date{
		flex: 1 1 auto;
		min-width: none;
		max-width: none;
	}
}

@media (max-width: 680px){
	.settings-search-form{
		justify-content: space-around;
	}
	.settings-search-form__type{
		flex-direction: column;
		align-items: flex-start;
	}
	.settings-search-form__add {
		flex-direction: column;
		align-items: flex-end;
	}
}

@media (max-width: 499.98px){
	.search-form__button {
		align-self: stretch;
	}
	.route-search-form__column{
		width: 100%;
	}
}

@media (max-width: 400px){
	.settings-search-form {
		flex-direction: column;
		align-items: flex-start;
	}
	.settings-search-form__add {
		flex-direction: row;
	}
}

/* -------------------------------- */


.gallery {
	padding-top: 50px;
	padding-bottom: 50px;
}
.gallery__container {
}
.gallery__title {
	font-weight: 600;
	font-size: 32px;
	line-height: 1.22;
}
.gallery__title:not(:last-child){
	margin-bottom: 34px;
}
.gallery__items {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	gap: 34px;
	grid-auto-rows: 1fr;
}

.gallery__item {
}
.item-gallery {
	border-radius: 16px;
	overflow: hidden;
	position: relative; 
}
/* @media (any-hover: hover){
	.item-gallery:hover img{
		transform: scale(1.05);
	}
} */
/* .item-gallery:hover img{
	transform: scale(1.05);
} */
.item-gallery img{
	/* transition: transform 0.4s ease 0s; */
	border-radius: 16px;
}
.item-gallery:first-child .item-gallery__body{
	padding-left: 60px;
}
/* @media (any-hover: hover){
	.item-gallery__body{
		transition: opacity 2s ease 0s;
		visibility: hidden;
		opacity: 0;
	}
	.item-gallery:hover .item-gallery__body{
		visibility: visible;
		opacity: 1;
	}
} */

.item-gallery__body {
	/* transition: opacity 2s ease 0s; */
	font-family: 'Poppins';
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 20px 30px;
	position: absolute;
	width: 100%;
	height: 37%;
	bottom: 0;
	left: 0;
	background: linear-gradient(360deg, rgba(34, 37, 52, 0.6) 0%, rgba(34, 37, 52, 0) 100%);
	border-radius: 14px;
}
.item-gallery__title {
	font-weight: 500;
	font-size: 22px;
	line-height: 1.5;
}
.item-gallery__title:not(:lang()){
	margin-bottom: 5px;
}
.item-gallery__location {
	line-height: 1.5;
}
.item-gallery_1{
	grid-column: span 2;
}

.item-gallery_2{
	grid-row: span 2;
}
.item-gallery_3{
	grid-row: span 2;
}
.item-gallery_4{

}
.item-gallery_5{

}
[class$="_ibg"]{
	position: relative;
	padding-bottom: 95.8%;
}
[class$="_ibg"] img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
[class$="_ibg-wide"]{
	position: relative;
	padding-bottom: 45.19%;
}
[class$="_ibg-wide"] img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
[class$="_ibg-high"]{
	position: relative;
	padding-bottom: 203.51%;
}
[class$="_ibg-high"] img{
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	object-fit: cover;
}
@media (max-width: 1180px){
	.item-gallery__title {
		font-size: 20px;
		line-height: 1.4;
	}
	.item-gallery__location {
		font-size: 16px;
		line-height: 1.4;
	}
}

@media (max-width: 991.98px){
	.gallery {
		padding-top: 40px;
		padding-bottom: 40px;
	}
	.gallery__items {
		gap: 25px;
		grid-template-columns: repeat(2, 1fr);
	}
	.item-gallery {
		border-radius: 25px;
	}
	.item-gallery_1{
		grid-column: span 1;
	}
	.item-gallery_2{
		grid-row: span 1;
	}
	.item-gallery_3{
		grid-row: span 1;
	}
	[class*="_ibg"]{
		position: relative;
		padding-bottom: 95.8%;
	}
	[class*="_ibg"] img{
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		object-fit: cover;
	}
	.item-gallery:first-child .item-gallery__body{
		padding-left: 30px;
	}
	.item-gallery__body {
		padding: 20px 25px;
	}
}
@media (max-width: 767.98px){
	.gallery {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.gallery__items {
		gap: 20px;
	}
	.gallery__title {
		font-size: 28px;
	}
	.gallery__items {
		gap: 15px;
	}
	.item-gallery__title {
		font-size: 18px;
	}
	.item-gallery__location {
		font-size: 14px;
	}
	.item-gallery__body {
		padding: 20px;
	}
}
@media (max-width: 479.98px){
	.gallery__items {
		grid-template-columns: 1fr;
	}
}

@media (any-hover: hover){
	.item-gallery img{
		transition: transform 0.4s ease 0s;
	}
	.item-gallery:hover img{
		transform: scale(1.05);
	}
}

@media (any-hover: hover){
	.item-gallery__body{
		transition: opacity 2s ease 0s;
		visibility: hidden;
		opacity: 0;
	}
	.item-gallery:hover .item-gallery__body{
		visibility: visible;
		opacity: 1;
	}
}

/* ---------------------------------- */


.download {
	padding-top: 50px;
	padding-bottom: 100px;
}
.download__container {
	display: flex;
	flex-direction: column;
	justify-content:center;
	align-items: center;
}
.download__title {
	text-align: center;
	max-width: 227px;
	font-weight: 600;
	font-size: 32px;
	line-height: 1.22;
}
.download__title:not(:last-child){
	margin-bottom: 30px;
}
.download__items {
	display: flex;
	justify-content:center;
	align-items: center;
	gap: 30px;
}
.download__item {
}
.download__item img{		
}
.download__item-1 img{
	margin: -20px;
}

@media (max-width: 991.98px){
	.download {
		padding-top: 40px;
		padding-bottom: 50px;
	}
}
@media (max-width: 767.98px){
	.download {
		padding-top: 30px;
		padding-bottom: 30px;
	}
	.download__title {
		font-size: 28px;
	}
}
@media (max-width: 767.98px){
	.download__items{
		flex-direction: column;
	}
}

/* ----------------------------- */

.footer {
	background: #133B5C;
	padding-top: 50px;
	padding-bottom: 130px;
}

.footer__container {
	display: grid;
	gap: 50px;
	grid-template-columns: repeat(6, auto);
	grid-auto-rows: 1fr;
}
.footer__info {
}
.footer__company {
}
.footer__explore {
}
.footer__term {
}
.footer__help {
}
.footer__feedback {
}


.info-footer {
	padding-right: 25px;
	display: flex;
	flex-direction: column;
	gap: 15px;
	justify-content: space-between;
}
.info-footer__logo {
}
.info-footer__text {
}


.company-footer {
}
.company-footer__title {
}
.company-footer__title:not(:last-child){
	margin-bottom: 10px;
}

.explore-footer {
}
.explore-footer__title {
}
.explore-footer__title:not(:last-child){
	margin-bottom: 10px;
}

.term-footer {
}
.term-footer__title {
}
.term-footer__title:not(:last-child){
	margin-bottom: 10px;
}

.help-footer {
}
.help-footer__title {
}
.help-footer__title:not(:last-child){
	margin-bottom: 10px;
}

.feedback-footer {
	display: flex;
	flex-direction: column;
	max-width: 150px;
}
.feedback-footer__title {
}
.feedback-footer__title:not(:last-child){
	margin-bottom: 10px;
}
.feedback-footer__text {
	font-size: 14px;
	line-height: 1.21;
	letter-spacing: 0.05em;
	flex: 1 1 auto;
}
.feedback-footer__socials {
	display: flex;
	align-items: center;
	gap: 30px;
}
.feedback-footer__icon {
}

@media (any-hover: hover){
	.feedback-footer__icon  {
		transition: opacity 0.3s ease 0s;
	}
	.feedback-footer__icon:hover {
		opacity: 0.7;
	}
}

@media (max-width: 1250px){
	.footer__container {
		column-gap: 30px;
		row-gap: 40px;
		grid-template-columns: repeat(3, 1fr);
		justify-items: center;
	}
	.info-footer {
		align-items: center;
		padding-right: 0px;
	}
	.info-footer__text {
		text-align: center;
	}
}
@media (max-width: 991.98px){
	.footer {
		padding-top: 40px;
		padding-bottom: 80px;
	}
}
@media (max-width: 800px){
	.footer__container {
		grid-template-columns: repeat(2, 1fr);
		column-gap: 20px;
		row-gap: 30px;
	}
}
@media (max-width: 767.98px){
	.footer {
		padding-top: 30px;
		padding-bottom: 50px;
	}
}
@media (max-width: 477.98px){
	.footer__container {
		grid-template-columns: 1fr;
		grid-auto-rows: auto;
	}
	.info-footer{
		gap: 25px;
	}
	.feedback-footer {
		max-width: 250px;
		gap: 15px;
	}
	.feedback-footer__text:not(:last-child) {
		margin-bottom: 20px;
	}
	.feedback-footer__socials {
		gap: 50px;
	}
}