@import "reset.css";

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display-swap");

.wrapper{
	font-family: "Lato";
}

[class*="__container"]{
	max-width: 1200px;
	margin: 0 auto;
}
