@import "reset.css";

@import url("https://fonts.googleapis.com/css?family=Taviraj:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:regular&display=swap");

body{
	font-family: "Taviraj";
	color: #333;
	background-color: #F7F6F4;
}
S
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}

[class*="__container"]{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0px 15px;
}
/*----------------------------------------------------------*/

.page__main-block {
}
.page__products {
}
.page__deals {
}
.page__news {
}

/* ------------------------------------ */

.link{
	display: inline-block;
	font-weight: 600;
	line-height: 1.6875;
	letter-spacing: 0.03em;
	border-bottom: 1px solid #333;
	transition: all 0.3s ease 0s;
}
.link:hover{
	color: rgba(51, 51, 51, 0.8);
	border-bottom: 1px solid rgba(51, 51, 51, 0.8);
}

.title-block {
	display: inline-block;
	font-weight: 500;
	font-size: 36px;
	line-height: 1.11111;
	letter-spacing: 0.02em;
	position: relative;
}
@media (max-width: 767.98px){
	.title-block {
		font-size: 32px;
	}
}
@media (max-width: 479.98px){
	.title-block {
		font-size: 28px;
	}
}
.title-block::after{
	content: "";
	height: 1px;
	width: 50%;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: #000;
}

/* ----------------------- */
.header {
	/* min-height: 106px; */
	padding-top: 36px;
	padding-bottom: 36px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
@media (max-width: 1000px){
	.header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (max-width: 680px){
	.header {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.header::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fffbf6;
}
.header__container {
	display: flex;
	align-items: center;
	column-gap: 20px;
	row-gap: 10px;
	position: relative;
}
@media (max-width: 670px){
	.header__container{
		flex-wrap: wrap;
		justify-content: center;
	}
	.header__logo {
		flex: 1 0 auto;
		padding: 10px 0px;
	}
}
.header__logo {
	flex: 0 0 178px;
}
.header__logo img{
	max-width: 100%;
}
.header__menu {
	flex: 1 1 auto;
}
.header__actions {
}

.menu {
	display: flex;
	justify-content: center;
	/* margin-right: 88px; */
	}
.menu__list {
	display: flex;
	align-items: center;
	column-gap: 40px;
	row-gap: 5px;
	flex-wrap: wrap;
}
@media (max-width: 670px){
	.menu__list{
		justify-content: center;
	}
}
.menu__item {
}
.menu__link {
	font-size: 20px;
	line-height: 1.7;
	letter-spacing: 0.02em;
	position: relative;
}
.menu__link:before{
	content: "";
	height: 1px;
	width: 0%;
	background-color: #333333;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.2s ease 0s;
}

.menu__link:hover::before{
	width: 50%;
}

.actions-header {
	display: flex;
	align-items: center;
	gap: 40px;
}
.actions-header__search {
	width: 32px;
	height: 32px;
	background: url('../img/icons/search.svg') 0 0 no-repeat;
	transition: opacity 0.3s ease 0s;
}
.actions-header__search:hover{
	opacity: 0.7;
}
.actions-header__login {
	font-size: 18px;
	line-height: 1.72;
	letter-spacing: 0.02em;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	gap: 8px;
	position: relative;
}
.actions-header__login::before{
	content: "";
	width: 24px;
	height: 24px;
	flex: 0 0 24px;
	background: url('../img/icons/user.svg') 0 0 no-repeat;
	transition: opacity 0.3s ease 0s;
}
.actions-header__login span{
	position: relative;
}
.actions-header__login span::before{
	content: "";
	height: 1px;
	width: 0%;
	background-color: #333333;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.2s ease 0s;
}

.actions-header__login:hover span::before{
	width: 50%;
}
.actions-header__login:hover::before{
	opacity: 0.7;
}
.actions-header__card {
	height: 46px;
	width: 46px;
	background: #F1DDC9 url('../img/icons/cart.svg') center no-repeat;
	border-radius: 50%;
	transition: background-color 0.3s ease 0s;
}
.actions-header__card:hover{
	background: rgba(241, 221, 201, 0.7) url('../img/icons/cart.svg') center no-repeat;
}
@media (max-width: 740px){
	.actions-header {
		gap: 20px;
	}
}

/* ---------------------------------- */

.main-block {
	padding-top: 160px;
	padding-bottom: 105px;
	position: relative;
}
@media (max-width: 991.98px){
	.main-block {
		padding-bottom: 50px;
	} 
}
@media (max-width: 475px){
	.main-block {
		padding-top: 200px;
		padding-bottom: 30px;
	}  
}
.main-block__decor{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../img/main-block/decor/01.svg') 87% 88px / 736px 264px no-repeat, url('../img/main-block/decor/02.svg') 88% 138px / 738px 278px no-repeat, url('../img/main-block/decor/03.svg') 89% 175px / 738px 308px no-repeat;
	pointer-events: none;
}
@media (max-width: 1150px){
	.main-block__decor{
		display: none;
	}
}
@media (min-width: 1920px){
	.main-block__decor{
		display: none;
	}
}
.main-block__container {
	
}
.main-block__body {
	padding: 56px 31px 50px 8px;
	display: flex;
	align-items: flex-end;
	background: #F1DDC9;
	
}
@media (max-width: 991.98px){
	.main-block__body {
		padding: 30px 10px;
	}
}

@media (max-width: 991.98px){
	.main-block__body {
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}
	.main-block__image {
		order: 2;
	}
	.main-block__content {
		order: 1;
	}
	.main-block__buttons {
		order: 3;
	}
}
.main-block__image {
	flex: 0 0 29.28%;
}
.main-block__image img{
	max-width: 100%;
}
.main-block__image:not(:last-child){
	margin-right: 47px;
	margin-bottom: -122px;
}
@media (max-width: 991.98px){
	.main-block__image {
		flex: 1 1 auto;
		text-align: center;
	}
	.main-block__image:not(:last-child){
		margin-right: 0px;
		margin-bottom: 0px;
	}
}
.main-block__content {
	position: relative;
	z-index: 2;
}
.main-block__content:not(:last-child){
	margin-right: 35px;
}
@media (max-width: 991.98px){
	.main-block__content:not(:last-child){
		margin-right: 0px;
	}	
}
.main-block__buttons {
	align-self: flex-end;
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-bottom: -79px;
}
@media (max-width: 991.98px){
	.main-block__buttons{
		margin-bottom: 0px;
		flex: 1 0 auto;
		align-self: center;
		gap: 40px;
	}	
}

.main-block__button {
	border: 2px solid #D84727;
	padding: 28px;
}
.main-block__button_prev{
	background: url('../img/icons/arrow-orange.svg') center no-repeat;
	transition: box-shadow 0.3s ease 0s;
}
.main-block__button_next{
	background: url('../img/icons/arrow-orange.svg') center no-repeat;
	transition: box-shadow 0.3s ease 0s;
	transform: rotate(180deg);
}
.main-block__button_prev:hover{
	background: #D84727 url('../img/icons/arrow-white.svg') center no-repeat;
	transform: rotate(180deg);
	box-shadow: 0px 0px 2px 2px #D84727;
}
.main-block__button_next:hover{
	background: #D84727 url('../img/icons/arrow-white.svg') center no-repeat;
	transform: rotate(360deg);
	box-shadow: 0px 0px 2px 2px #D84727;
}

.content-main-block {
}
.content-main-block__title {
	font-size: 60px;
	line-height: 1.3333;
	letter-spacing: 0.02em;
	position: relative;
}
@media (max-width: 800px){
	.content-main-block__title{
		font-size: 50px;
	}
}
@media (max-width: 600px){
	.content-main-block__title{
		font-size: 40px;
	}
}
@media (max-width: 500px){
	.content-main-block__title{
		font-size: 34px;
	}
}
@media (max-width: 500px){
	.content-main-block__title{
		font-size: 28px;
	}
}
.content-main-block__title::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -8px;
	height: 1px;
	width: 95px;
	background-color: #000;
}
.content-main-block__title:not(:last-child){
	margin-bottom: 32px;
}
.content-main-block__text {
	font-family: "Nunito";
	line-height: 1.375;
	letter-spacing: 0.03em;
}
.content-main-block__text:not(:last-child){
	margin-bottom: 8px;
}
.content-main-block__link {
}

.content-main-block__link:not(:last-child){
	margin-bottom: 44px;
}
.content-main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	align-items: center;
}
.content-main-block__button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 13px;
	padding: 14px 30px 14px 25px;
	background-color: #D84727;
	color: #fffbf6;
	font-size: 20px;
	line-height: 1.7;
	letter-spacing: 0.02em;
	transition: box-shadow 0.3s ease 0s;
}
.content-main-block__button::before{
	content: "";
	width: 32px;
	height: 32px;
	flex: 0 0 32px;
	background: url('../img/icons/add-cart.svg') 0 0 no-repeat;
}
.content-main-block__button:hover{
	box-shadow: 0px 0px 2px 2px #D84727;
}
.content-main-block__button-bg {
	border: 2px solid #D84727;
	padding: 29px 68px;
	background: url('../img/main-block/button-image.svg') center no-repeat;
	transition: box-shadow 0.3s ease 0s;
}
@media (max-width: 550px){
	.content-main-block__button-bg{
		width: 100%;
	}
	.content-main-block__button {
		width: 100%;
	}
}
.content-main-block__button-bg:hover{
	box-shadow: 0px 0px 2px 2px #D84727;
}


/* -------------------------------------- */


.products {
	padding-top: 105px;
	padding-bottom: 46px;
}
@media (max-width:991.98px){
	.products {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.products__container {
	
}

.products__items {
	display: flex;
	flex-wrap: wrap;
	margin: 0px -15px;
	row-gap: 30px;
}

.item-product {
	flex: 0 1 50%;
	padding: 0px 15px;
}
@media (max-width: 750px){
	.item-product {
		flex: 1 1 100%;
	}
}
.item-product__content{
	min-height: 100%;
	background: #FFFFFF;
	padding: 32px 8px 8px 32px;
	display: flex;
	flex-direction: column;
}
@media (max-width: 750px){
	.item-product__content{
		padding: 10px;
	}
}
.item-product__title{

}
.item-product__title:hover{
	text-decoration: underline;
}
.item-product__label {
	font-size: 28px;
	line-height: 1.14;
	letter-spacing: 0.03em;
}
@media (max-width: 767.98px){
	.item-product__label {
		font-size: 24px;
	}
}
.item-product__label span{
	font-weight: 600;
}
.item-product__title:not(:last-child){
	margin-bottom: 8px;
}
.item-product__text {
	/* flex: 1 1 auto; */
	max-width: 345px;
	line-height: 1.5;
	letter-spacing: 0.03em;
	color: #777777;
	font-family: "Nunito";
}
.item-product__actions {
	flex: 1 1 auto;
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	gap: 15px;
	justify-content: space-between;
}
.item-product__link {
	margin-top: 4px;
	align-self: flex-start;
}
.item-product__image {
	
}
.item-product__image img{
	max-width: 100%;
}

/* --------------------------------------- */


.deals {
	padding-top: 46px;
	padding-bottom: 55px;
}
@media (max-width: 991.98px){
	.deals {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.deals__container {
}
.deals__title {
}
.deals__title:not(:last-child){
	margin-bottom: 100px;
}
@media (max-width: 991.98px){
	.deals__title:not(:last-child){
		margin-bottom: 80px;
	}
}
.deals__cards {
	display: flex;
	flex-wrap: wrap;
	row-gap: 60px;
	margin: 0px -15px;
}
.card-deals {
	flex: 0 1 25%;
	padding: 0px 15px;
}
@media (max-width: 991.98px){
	.card-deals {
		flex: 0 1 33.3333%;
	}
}
@media (max-width: 800px){
	.card-deals {
		flex: 0 1 50%;
	}
}
@media (max-width: 540px){
	.card-deals {
		flex: 1 1 100%;
	}
}
.card-deals__content{
	background-color: #fff;
	min-height: 100%;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	padding: 0px 24px 16px 24px;
	transition: box-shadow 0.3s ease 0s;
}
.card-deals__content:hover{
	box-shadow: 2px 2px 3px 3px #fff;
}
.card-deals__image-ibg {
	align-self: stretch;
	overflow: hidden;
	/* display: inline-block; */
	position: relative;
	padding-bottom: 106.76%;
}
.card-deals__image-ibg:not(:last-child){
	margin-top: -40px;
	margin-bottom: 32px;
}
.card-deals__image-ibg img{
	transition: all 0.3s ease 0s;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	object-fit: cover;
}
.card-deals__image-ibg:hover{
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}
.card-deals__image-ibg:hover img{
	transform: scale(1.05);
}

.card-deals__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.3333;
}
.card-deals__title:hover{
	text-decoration: underline;
}
.card-deals__title:not(:last-child){
	margin-bottom: 2px;
}
.card-deals__discont {
	line-height: 1.5;
	color: #777777;
}
.card-deals__discont:not(:last-child){
	margin-bottom: 6px;
}
.card-deals__last-price {
	line-height: 1.5;
	color: #777777;
	position: relative;
}
.card-deals__last-price::before{
	content: "";
	height: 1px;
	width: 100%;
	background-color: #D93F3F;
	position: absolute;
	left: 0%;
	top: 50%;
}
.card-deals__new-price {
	font-size: 24px;
	line-height: 1.3333;
	flex: 1 0 auto;
}
.card-deals__new-price:not(:last-child){
	margin-bottom: 24px;
}
.card-deals__buttons {
	display: flex;
	align-items: center;
	gap: 8px;
	visibility: hidden;
	opacity: 0;
	width: 0;
	height: 0;
	transition: opacity 0.3s ease 0s;
}
.card-deals__content:hover .card-deals__buttons{
	visibility: visible;
	opacity: 1;
	width: 100%;
	height: auto;
	flex-basis: auto;
}
.card-deals__like {
	width: 39px;
	height: 39px;
	border: 1px solid #D84727;
	background: url('../img/icons/love.svg') center no-repeat;
}
.card-deals__button {
	background: #D84727;
	line-height: 1.5;
	letter-spacing: 0.02em;
	color: #FFFFFF;
	padding: 7.5px 36px;
}

/* ---------------------------- */


.news {
	padding-top: 55px;
	padding-bottom: 195px;
	position: relative;
	overflow: hidden;
}
@media (max-width: 991.98px){
	.news {
		padding-top: 30px;
		padding-bottom: 30px;
	}
}
.news__decor{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: url('../img/news/decor/01.svg') 120% 40px / 736px 264px no-repeat, url('../img/news/decor/02.svg') 120% 80px / 738px 278px no-repeat, url('../img/news/decor/03.svg') 120% 120px / 738px 308px no-repeat,url('../img/news/decor/04.svg') 99% 75%/ 399px 216px no-repeat, url('../img/news/decor/05.svg') 100% 85% / 413px 226px no-repeat;
	z-index: -1;
	pointer-events: none;
}
@media (max-width: 1150px){
	.news__decor{
		display: none;
	}
}
@media (min-width: 1920px){
	.news__decor{
		display: none;
	}
}
.news__container {
}
.news__title {
}
.news__title:not(:last-child){
	margin-bottom: 50px;
}
.news__body {
	display: flex;
	align-items: center;
	gap: 65px;
}
.news__content {
	flex: 0 1 350px;
}
.news__image {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25) ;
	align-self: flex-start;
	position: relative;
}
.news__image:before{
	content: "";
	width: 640px;
	height: 458px;
	background-color: #F1DDC9;
	position: absolute;
	left: 220px;
	top: -69px;
	z-index: -1;
}

.news__image img{
	max-width: 100%;
}
.content-news {
}
.content-news__label {
	font-size: 20px;
	line-height: 2;
	letter-spacing: 0.02em;
	color: #777777;
}
.content-news__label:not(:last-child){
	margin-bottom: 8px;
}
.content-news__title {
	font-size: 36px;
	line-height: 1.33333;
	letter-spacing: 0.02em;
}
.content-news__title:not(:last-child){
	margin-bottom: 45px;
}
.content-news__button {
	font-size: 16px;
	line-height: 1.6875;
	letter-spacing: 0.02em;
	border: 2px solid #D84727;
	padding: 13.5px 45px;
	color: #D84727;
	transition: all 0.3s ease 0s;
}
.content-news__button:hover{
	box-shadow: 0px 0px 2px 2px #D84727;
}
