@import "reset.css";

@import url("https://fonts.googleapis.com/css?family=Taviraj:300,regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Nunito:regular&display=swap");

body{
	font-family: "Taviraj";
	color: #333;
	background-color: #F7F6F4;
}
S
.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}

[class*="__container"]{
	max-width: 1140px;
	margin: 0 auto;
	padding: 0px 15px;
}
/*----------------------------------------------------------*/

.page__main-block {
}


/* ------------------------------------ */
.header {
	/* min-height: 106px; */
	padding-top: 36px;
	padding-bottom: 36px;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 50;
}
@media (max-width: 1000px){
	.header {
		padding-top: 20px;
		padding-bottom: 20px;
	}
}
@media (max-width: 680px){
	.header {
		padding-top: 10px;
		padding-bottom: 10px;
	}
}
.header::before{
	content: "";
	position: absolute;
	width: 100%;
	height: 100%;
	top: 0;
	left: 0;
	background-color: #fffbf6;
}
.header__container {
	display: flex;
	align-items: center;
	column-gap: 20px;
	row-gap: 10px;
	position: relative;
}
@media (max-width: 670px){
	.header__container{
		flex-wrap: wrap;
		justify-content: center;
	}
	.header__logo {
		flex: 1 0 auto;
	}
}
.header__logo {
	flex: 0 0 178px;
}
.header__logo img{
	max-width: 100%;
}
.header__menu {
	flex: 1 1 auto;
}
.header__actions {
}

.menu {
	display: flex;
	justify-content: center;
	/* margin-right: 88px; */
	}
.menu__list {
	display: flex;
	align-items: center;
	column-gap: 40px;
	row-gap: 10px;
	flex-wrap: wrap;
}
@media (max-width: 670px){
	.menu__list{
		justify-content: center;
	}
}
.menu__item {
}
.menu__link {
	font-size: 20px;
	line-height: 1.7;
	letter-spacing: 0.02em;
	position: relative;
}
.menu__link:before{
	content: "";
	height: 1px;
	width: 0%;
	background-color: #333333;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.2s ease 0s;
}

.menu__link:hover::before{
	width: 50%;
}

.actions-header {
	display: flex;
	align-items: center;
	gap: 40px;
}
.actions-header__search {
	width: 32px;
	height: 32px;
	background: url('../img/icons/search.svg') 0 0 no-repeat;
	transition: opacity 0.3s ease 0s;
}
.actions-header__search:hover{
	opacity: 0.7;
}
.actions-header__login {
	font-size: 18px;
	line-height: 1.72;
	letter-spacing: 0.02em;
	display: inline-flex;
	align-items: center;
	white-space: nowrap;
	gap: 8px;
	position: relative;
}
.actions-header__login::before{
	content: "";
	width: 24px;
	height: 24px;
	flex: 0 0 24px;
	background: url('../img/icons/user.svg') 0 0 no-repeat;
	transition: opacity 0.3s ease 0s;
}
.actions-header__login span{
	position: relative;
}
.actions-header__login span::before{
	content: "";
	height: 1px;
	width: 0%;
	background-color: #333333;
	position: absolute;
	bottom: 0;
	left: 0;
	transition: width 0.2s ease 0s;
}

.actions-header__login:hover span::before{
	width: 50%;
}
.actions-header__login:hover::before{
	opacity: 0.7;
}
.actions-header__card {
	height: 46px;
	width: 46px;
	background: #F1DDC9 url('../img/icons/cart.svg') center no-repeat;
	border-radius: 50%;
	transition: background-color 0.3s ease 0s;
}
.actions-header__card:hover{
	background: rgba(241, 221, 201, 0.7) url('../img/icons/cart.svg') center no-repeat;
}
@media (max-width: 740px){
	.actions-header {
		gap: 20px;
	}
}

/* ---------------------------------- */

.main-block {
	padding-top: 160px;
	padding-bottom: 105px;
}
@media (max-width: 475px){
	.main-block {
		padding-top: 200px;
		padding-bottom: 30px;
	}  
}
.main-block__container {
	background: #F1DDC9;
}
.main-block__body {
	padding: 56px 31px 50px 8px;
	display: flex;
	align-items: flex-end;
}
@media (max-width: 991.98px){
	.main-block__body {
		padding: 30px 10px;
	}
}
@media (max-width: 600px){
	.main-block__body {
		padding: 30px 0px;
	}
}

@media (max-width: 991.98px){
	.main-block__body {
		flex-wrap: wrap;
		gap: 20px;
		justify-content: center;
	}
	.main-block__image {
		order: 2;
	}
	.main-block__content {
		order: 1;
	}
	.main-block__buttons {
		order: 3;
	}
}
.main-block__image {
	flex: 0 0 29.28%;
}
.main-block__image img{
	max-width: 100%;
}
.main-block__image:not(:last-child){
	margin-right: 47px;
	margin-bottom: -122px;
}
@media (max-width: 991.98px){
	.main-block__image {
		flex: 1 1 auto;
		text-align: center;
	}
	.main-block__image:not(:last-child){
		margin-right: 0px;
		margin-bottom: 0px;
	}
}
.main-block__content {

}
.main-block__content:not(:last-child){
	margin-right: 35px;
}
@media (max-width: 991.98px){
	.main-block__content:not(:last-child){
		margin-right: 0px;
	}	
}
.main-block__buttons {
	align-self: flex-end;
	display: flex;
	justify-content: center;
	gap: 15px;
	margin-bottom: -79px;
}
@media (max-width: 991.98px){
	.main-block__buttons{
		margin-bottom: 0px;
		flex: 1 0 auto;
		align-self: center;
		gap: 40px;
	}	
}

.main-block__button {
	border: 2px solid #D84727;
	padding: 28px;
}
.main-block__button_prev{
	background: url('../img/icons/arrow-orange.svg') center no-repeat;
	transition: box-shadow 0.3s ease 0s;
}
.main-block__button_next{
	background: url('../img/icons/arrow-orange.svg') center no-repeat;
	transition: box-shadow 0.3s ease 0s;
	transform: rotate(180deg);
}
.main-block__button_prev:hover{
	background: #D84727 url('../img/icons/arrow-white.svg') center no-repeat;
	transform: rotate(180deg);
	box-shadow: 0px 0px 2px 2px #D84727;
}
.main-block__button_next:hover{
	background: #D84727 url('../img/icons/arrow-white.svg') center no-repeat;
	transform: rotate(360deg);
	box-shadow: 0px 0px 2px 2px #D84727;
}

.content-main-block {
}
.content-main-block__title {
	font-size: 60px;
	line-height: 1.3333;
	letter-spacing: 0.02em;
	position: relative;
}
@media (max-width: 800px){
	.content-main-block__title{
		font-size: 50px;
	}
}
@media (max-width: 600px){
	.content-main-block__title{
		font-size: 40px;
	}
}
@media (max-width: 500px){
	.content-main-block__title{
		font-size: 34px;
	}
}
@media (max-width: 500px){
	.content-main-block__title{
		font-size: 28px;
	}
}
.content-main-block__title::before{
	content: "";
	position: absolute;
	left: 0;
	bottom: -8px;
	height: 1px;
	width: 95px;
	background-color: #000;
}
.content-main-block__title:not(:last-child){
	margin-bottom: 32px;
}
.content-main-block__text {
	font-family: "Nunito";
	line-height: 1.375;
	letter-spacing: 0.03em;
}
.content-main-block__text:not(:last-child){
	margin-bottom: 8px;
}
.content-main-block__link {
	display: inline-block;
	font-weight: 600;
	line-height: 1.6875;
	letter-spacing: 0.03em;
	border-bottom: 1px solid #333;
	transition: all 0.3s ease 0s;
}
.content-main-block__link:hover{
	color: rgba(51, 51, 51, 0.8);
	border-bottom: 1px solid rgba(51, 51, 51, 0.8);
}
.content-main-block__link:not(:last-child){
	margin-bottom: 44px;
}
.content-main-block__buttons {
	display: flex;
	flex-wrap: wrap;
	gap: 16px;
	align-items: center;
}
.content-main-block__button {
	display: inline-flex;
	align-items: center;
	justify-content: center;
	gap: 13px;
	padding: 14px 30px 14px 25px;
	background-color: #D84727;
	color: #fffbf6;
	font-size: 20px;
	line-height: 1.7;
	letter-spacing: 0.02em;
	transition: box-shadow 0.3s ease 0s;
}
.content-main-block__button::before{
	content: "";
	width: 32px;
	height: 32px;
	flex: 0 0 32px;
	background: url('../img/icons/add-cart.svg') 0 0 no-repeat;
}
.content-main-block__button:hover{
	box-shadow: 0px 0px 2px 2px #D84727;
}
.content-main-block__button-bg {
	border: 2px solid #D84727;
	padding: 29px 68px;
	background: url('../img/main-block/button-image.svg') center no-repeat;
	transition: box-shadow 0.3s ease 0s;
}
@media (max-width: 550px){
	.content-main-block__button-bg{
		width: 100%;
	}
	.content-main-block__button {
		width: 100%;
	}
}
.content-main-block__button-bg:hover{
	box-shadow: 0px 0px 2px 2px #D84727;
}
