@import "reset.css";

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display-swap");

.wrapper{
	font-family: Lato;
	padding: 30px 10px;
	max-width: 810px;
	margin: 0 auto;
}

.header,
.footer {
	text-align: center;
	padding: 20px 0px;
	font-weight: 900;
	font-size: 30px;
}
.main {
}
.main__article {
}
.article {
}
.article__title {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
	margin: 0px 0px 45px 0px;
}
.article__image {
	max-width: 100%;
	margin-bottom: 60px;
}
.article__text {
	line-height: 160%;
	color: #424551;
	margin-bottom: 24px;
}
.article__bold-text {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	margin-bottom: 24px;
}
.article__qoute {
	font-weight: 700;
	font-size: 20px;
	line-height: 150%;
	color: #1E212C;
	padding: 24px 0px 0px 48px;
	margin-bottom: 48px;
}
.article__list {
	margin-bottom: 24px;
	padding-left: 32px;
}
.article__item {
	line-height: 160%;
	color: #424551;
	margin-bottom: 4px;
}
