@import "reset.css";

@import url("https://fonts.googleapis.com/css?family=Lato:regular,700,900&display=swap");

body{
	font-family: "Lato";
	color: #000;
}

.wrapper{
	overflow: hidden;
	min-height: 100%;
	position: relative;

	display: flex;
	flex-direction: column;
}
.wrapper > main{
	flex-grow: 1;
}

[class*="__container"]{
	max-width: 1260px;
	margin: 0 auto;
	padding: 0px 15px;
}
/*----------------------------------------------------------*/

.page__feedback {
}
.page__sign-in {
}
.page__subscribe {
}
.page__join {
}
.page__sub {
}

/*----------------------------------------------------------*/

.button {
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
	border-radius: 4px;
	font-weight: 700;
	line-height: 1.5;
	letter-spacing: 0.5px;
	color: #FFFFFF;
	padding: 13px 39px;
	transition: all 0.3s ease 0s;
	border: 1px solid transparent;
}
.button:hover{
	color: #FF3F3A;
	background: transparent;
	border: 1px solid #FF3F3A;
}

.button_border {
	color: #FF3F3A;
	border: 1px solid #FF3F3A;
	background: transparent;
	transition: all 0.3s ease 0s;
}
.button_small {
	font-size: 14px;
	line-height: 1.5;
	padding: 10.5px 31px;
}
.button_border:hover {
	color: #FFFFFF;
	border: 1px solid transparent;
	background: linear-gradient(55.95deg, #FF3F3A 0%, #F75E05 100%);
}

.title {
}
.title__subtitle {
	font-weight: 700;
	line-height: 150%;
	letter-spacing: 1px;
	text-transform: uppercase;
	color: #1E212C;
}
.title_center{
	text-align: center;
}
.title__subtitle:not(:last-child){
	margin-bottom: 8px;
}
.title__text {
	font-weight: 900;
	font-size: 46px;
	line-height: 130%;
	color: #1E212C;
}
/*----------------------------------------------------------*/

.header {
	position: fixed;
	width: 100%;
	top: 0;
	left: 0;
	z-index: 50;
}
.header::before{
	content: "";
	position: absolute;
	height: 92px;
	width: 100%;
	top: 0;
	left: 0;
	background-color: rgba(247, 94, 5, 0.6);
}
.header__container {
	position: relative;
	display: flex;
	gap: 60px;
	padding-top: 20px;
	padding-bottom: 20px;
	align-items: center;
}
.header__logo {

}
.header__menu {
	flex: 1 1 auto;
}
.header__actions {
	flex: 0 0 auto;
}

.menu {
}

.header__list {
	display: flex;
	align-items: center;
	column-gap: 40px;
	row-gap: 5px;
	flex-wrap: wrap;
}
.header__item {
}
.header__link {
	font-weight: 700;
	line-height: 160%;
	align-items: center;
	color: #424551;
	transition: color 0.3s ease 0s;
}
.header__link:hover{
	color: #FF3F3A;
}

.actions-header {
	display: flex;
	gap: 36px;
	align-items: center;
}
.actions-header__button {
}
.actions-header__link {
	position: relative;
	font-weight: 700;
	line-height: 160%;
	color: #424551;
	display: flex;
	align-items: center;
	gap: 10px;
	transition: all 0.3s ease 0s;
}
.actions-header__link::before {
	content: "";
	width: 17px;
	height: 18px;
	background: url('../img/icons/person.svg') 0 0 no-repeat;
	transition: all 0.3s ease 0s;
}

.actions-header__link:hover::before{
		opacity: 0.8;
}

.actions-header__link:hover span{
	color: #424551;
	opacity: 0.8;
}

/*----------------------------------------------------------*/


.feedback {
	padding-top: 180px;
	padding-bottom: 50px;
}
.feedback__container {
	display: flex;
	align-items: center;
	gap: 90px;
	flex-wrap: wrap-reverse;
	justify-content: center;
}
.feedback__image {
	flex: 0 1 435px;
}
.feedback__image img{
	max-width: 100%;
}
.feedback__content {
	flex: 1 1 705px;
}
.feedback__title {

}
.feedback__title:not(:last-child){
	margin-bottom: 40px;
}
.feedback__form {
}

.form-feedback {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}
.form-feedback__first-line {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}
.form-feedback__second-line {
	display: flex;
	flex-wrap: wrap;
	gap: 25px;
}
.form-feedback__third-line {
}
.form-feedback__item {
	flex: 1 1 340px;
}
.form-feedback__label {
	display: inline-block;
	line-height: 160%;
	color: #424551;
}
.form-feedback__label:not(:last-child){
	margin-bottom: 8px;
}
.form-feedback__input {
	cursor: pointer;
	border: 1px solid #D7DADD;
	border-radius: 4px;
	padding: 0px 16px;
	min-height: 52px;
	color: #9A9CA5;
	line-height: 160%;
}
.form-feedback__textarea {
	cursor: pointer;
	border: 1px solid #D7DADD;
	border-radius: 4px;	
	padding: 13px 16px;
	height: 128px;
	width: 100%;
	resize: none;
	line-height: 160%;
	color: #9A9CA5;
}
.form-feedback__footer {
	
}
.footer-form-feedback{
	position: relative;
	display: flex;
	/* flex-wrap: wrap; */
	align-items: center;
	gap: 50px;
	margin-top: 24px;
}
.footer-form-feedback__item{
	/* flex: 0 1 auto; */
}
.footer-form-feedback__buton {
	flex: 1 1 340px;
}
.footer-form-feedback__label{
	display: flex;
	gap: 12px;
	cursor: pointer;
	line-height: 160%;
	color: #424551;
}
.footer-form-feedback__checkbox:focus + .footer-form-feedback__label::before{
	outline: 1px solid #000;
}
.footer-form-feedback__checkbox:checked + .footer-form-feedback__label::before{
	background: #FF3F3A url("../img/icons/check.svg") 2px 3px no-repeat;
}

.footer-form-feedback__label::before{
	content: "";
	border: 1px solid #FF3F3A;
	border-radius: 3px;
	flex: 0 0 16px;
	width: 16px;
	height: 16px;
	background-color: #FF3F3A;
	align-self: flex-start;
	margin-top: 5px;
}
.footer-form-feedback__checkbox{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}



/* ------------------------------------------- */


.sign-in {
	padding-top: 50px;
	padding-bottom: 60px;
}

.sign-in__container {
	padding: 48px;
	background: #FFFFFF;
	border: 1px solid #E5E8ED;
	box-shadow: 0px 60px 80px -20px rgba(30, 33, 44, 0.16), 0px 26px 24px -10px rgba(30, 33, 44, 0.1), 0px 12px 10px -6px rgba(30, 33, 44, 0.08), 0px 4px 4px -4px rgba(30, 33, 44, 0.05);
	border-radius: 4px;
	max-width: 486px;
	position: relative;
}

.sign-in__container::before{
	content: "";
	width: 100%;
	height: 1px;
	background-color: #E5E8ED;
	position: absolute;
	bottom: 129px;
	left: 0%;
}
.sign-in__close {
	position: absolute;
	top: 28px;
	right: 28px;
	width: 16px;
	height: 16px;
	cursor: pointer;
}
.sign-in__close::before{
	content: "";
	width: 20px;
	height: 1px;
	display: inline-block;
	background-color: #787A80;
	transform-origin: top left;
	transform: translate(0px, 100%) rotate(-45deg);
}
.sign-in__close::after{
	content: "";
	width: 20px;
	height: 1px;
	display: inline-block;
	background-color: #787A80;
	transform: translate(50%,50%) rotate(45deg);
	position: absolute;
	top: 42%;
	left: -80%;
}
.sign-in__content{
	display: flex;
	flex-direction: column;
	text-align: center;
	row-gap: 24px;
}
.sign-in__title {
	font-weight: 700;
	font-size: 28px;
	line-height: 150%;
	color: #1E212C;
}
.sign-in__text {
	align-self: flex-start;
	font-size: 14px;
	line-height: 150%;
	color: #424551;
}
.sign-in__form {
}
.form-sign-in {
	display: flex;
	flex-direction: column;
	row-gap: 20px;
}
.form-sign-in__line {
	text-align: left;
}
.form-sign-in__label {
	display: inline-block;
	font-size: 14px;
	line-height: 150%;
	color: #424551;
}
.form-sign-in__label:not(:last-child){
	margin-bottom: 8px;
}
.form-sign-in__input {
	cursor: pointer;
	font-size: 14px;
	line-height: 150%;
	color: #9A9CA5;
	padding: 0px 16px;
	height: 44px;
	border: 1px solid #D7DADD;
	border-radius: 4px;
}

.form-sign-in__icon{
	position: relative;
}
.form-sign-in__icon::after{
	content: "";
	position: absolute;
	width: 16px;
	height: 16px;
	bottom: 14px;
	right: 14px;
	cursor: pointer;
	transition: opacity 0.3s ease 0s;
	background: url('../img/icons/eyes.svg') 0 0 no-repeat;
	transform: translate(0px,100%);
}
.form-sign-in__icon:hover::after{
	opacity: 0.7;
}

.form-sign-in__actions {
}
.form-sign-in-link {
	color: #FF3F3A;
}
.form-sign-in-link:hover{
	text-decoration: underline;
}
.form-sign-in__button {
	margin-top: 4px;
}

.actions-sign-in {
	display: flex;
	align-items: center;
	justify-content: space-between;
}
.actions-sign-in__item{
	position: relative;
}
.actions-sign-in__checkbox {
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}
.actions-sign-in__checkbox:checked + .actions-sign-in__label::before{
	background:#FF3F3A url('../img/icons/check.svg') 2px 3px no-repeat;
}
.actions-sign-in__checkbox:focus + .actions-sign-in__label::before{
	outline: 1px solid #000;
}
.actions-sign-in__label {
	cursor: pointer;
	font-size: 14px;
	line-height: 150%;
	color: #424551;
	display: flex;
	align-items: center;
	gap: 12px;
}
.actions-sign-in__label::before{
	content: "";
	width: 16px;
	height: 16px;
	background: #FF3F3A;
	border: 1px solid #FF3F3A;
	border-radius: 3px;
}
.actions-sign-in__link {
}

.sign-in__footer {
	padding-top: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 16px;
}
.sign-in__capture{
	font-size: 14px;
	line-height: 150%;
	color: #787A80;
}
.sign-in__socials {
	opacity: 0.8;
	display: flex;
	align-items: center;
	gap: 12px;
}
.sign-in__social {
	flex: 0 0 20px;
	width: 20px;
	transition: opacity 0.3s ease 0s;
}
.sign-in__social:hover{
	opacity: 0.5;
}
.sign-in__social img{
	max-width: 100%;
}

/* ------------------------------------------- */


.subscribe {
	padding-top: 50px;
	padding-bottom: 50px;
}
.subscribe:not(:last-child){
	margin-bottom: 50px;
}
.subscribe__container {

}
.subscribe__inner{
	position: relative;
	background: url("../img/decor/dots.svg") 5px 84.6% / 62px 72px no-repeat, url("../img/decor/shapes.svg") 32.45% 84.4% / 40px 40px no-repeat, url("../img/decor/circles.svg") 97.4% -97px  / 135px 139px no-repeat, linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
	border-radius: 4px;
	padding: 60px 109px;
	display: flex;
	justify-content: center;
	flex-wrap: wrap-reverse;
	column-gap: 104px;
	row-gap: 30px;
}
.subscribe__image {
	flex: 0 1 308px;
	align-self: flex-start;
}
.subscribe__image img{
	max-width: 100%;
}
.subscribe__content {
	flex: 1 1 600px;
}
.subscribe__title {
	font-weight: 900;
	font-size: 32px;
	line-height: 130%;
	color: #1E212C;
}
.subscribe__title:not(:last-child){
	margin-bottom: 48px;
}
.subscribe__form {
}
.form-subscribe {
}
.form-subscribe__first-line {
	display: flex;
	flex-wrap: wrap;
	align-items: center;
	gap: 24px;
}
.form-subscribe__first-line:not(:last-child){
	margin-bottom: 24px;
}
.form-subscribe__second-line{
	position: relative;
	display: flex;
}
.form-subscribe__input {
	flex: 1 1 220px;
	line-height: 160%;
	color: #9A9CA5;
	height: 52px;
	padding: 0px 16px;
	border: 1px solid #D7DADD;
	border-radius: 4px;
}
.form-subscribe__button {
	/* flex: 1 1 auto; */
}

.form-subscribe__checkbox{
	position: absolute;
	top: 0;
	left: 0;
	width: 0;
	height: 0;
}
.form-subscribe__checkbox:focus + .form-subscribe__label::before{
	outline: 1px solid #000;
}
.form-subscribe__checkbox:checked + .form-subscribe__label::before{
	background:#FF3F3A url('../img/icons/check.svg') 2px 3px no-repeat;
}
.form-subscribe__label {
	line-height: 160%;
	color: #424551;
	display: flex;
	align-items: center;
	gap: 12px;
}
.form-subscribe__label::before{
	content: "";
	width: 16px;
	height: 16px;
	flex: 0 0 16px;
	background: #FF3F3A;
	border: 1px solid #FF3F3A;
	border-radius: 3px;
	align-self: flex-start;
	margin-top: 5px;
}
/* ------------------------------------------ */


.join {
	padding-top: 60px;
	padding-bottom: 120px;
}
.join__container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	column-gap: 120px;
	row-gap: 30px;
}
.join__content {
	flex: 0 1 510px;
}
.join__image {
	flex: 0 1 600px;
	align-self: center;
}
.join__image img{
	max-width: 100%;
}
.join__title {
}
.join__title:not(:last-child){
	margin-bottom: 40px;
}
.join__form {
	display: flex;
	flex-direction: column;
	row-gap: 24px;
}

.form-join {
}
.form-join__item {
}
.form-join__label {
	display: inline-block;
	color: #424551;
}
.form-join__label:not(:last-child){
	margin-bottom: 8px;
}
.form-join__input {
	padding: 0px 16px;
	line-height: 160%;
	color: #9A9CA5;
	border: 1px solid #D7DADD;
	border-radius: 4px;
	height: 52px;
}
.form-join__button {
	margin-top: 16px;
}
.form-join__text {
	line-height: 160%;
	color: #424551;
}

/* ---------------------------------- */


.sub {
	padding-top: 120px;
	padding-bottom: 180px;
	background: url("../img/sub/decor.svg") left bottom / 354px 246px no-repeat, url("../img/sub/decor.svg") right bottom / 354px 246px no-repeat, linear-gradient(55.95deg, rgba(255, 64, 58, 0.2) 0%, rgba(247, 94, 5, 0.2) 100%);
}

.sub__container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	gap: 60px;
}
.sub__title {
	max-width: 810px;
}

.sub__form {
}


.form-sub {
}
.form-sub__line {
	display: flex;
	flex-wrap: wrap;
	gap: 24px;
}
.form-sub__input {
	flex: 1 1 422px;
	padding: 0px 16px;
	line-height: 160%;
	color: #9A9CA5;
	border: 1px solid #D7DADD;
	border-radius: 4px;
	height: 52px;
	width: 422px;
}
.form-sub__button {
	flex: 1 1 auto;

}
